@model PosBank.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "EditProduct";
}
<div class="modal-header">
    <h6 class="modal-title">Edit Product</h6>
</div>
<form asp-controller="Products" asp-action="EditProduct" method="post" enctype="multipart/form-data">
    <div id="frmItem">
        <input type="hidden" asp-for="Id" />
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>Product Name</label>
                        <input asp-for="ProductName" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>Price</label>
                        <input asp-for="FixedPrice" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>Picture</label>
                        <input type="file"
                               accept="image/*"
                               asp-for="PictureUrl"
                               class="form-control"
                               palceholder="Select image" />
                    </div>
                </div>
            </div>
            @if (Model.ProductsDetails != null && Model.ProductsDetails.Count() > 1)
            {
                foreach (var item in Model.ProductsDetails)
                {
                    <div class="row" for="sizes">
                        <div class="col-5">
                            <div class="form-group">
                                <label>Size Name</label>
                                <input asp-for="@item.Size" class="form-control" />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>Size Price</label>
                                <input asp-for="@item.Price" class="form-control" />
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group" style="margin-top: 17%;">
                                <a href="Javascript:void(0);" class="btn btn-success add-size">Add</a>
                                <a href="Javascript:void(0);" class="btn btn-success remove-size btn-danger">Remove</a>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="row" for="sizes">
                    <div class="col-5">
                        <div class="form-group">
                            <label>Size Name</label>
                            <input asp-for="ProductsDetails[0].Size" data-key='0' class="form-control" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Size Price</label>
                            <input asp-for="ProductsDetails[0].Price" data-key='0' class="form-control" />
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group" style="margin-top: 17%;">
                            <a href="Javascript:void(0);" class="btn btn-success add-size">Add</a>
                            <a href="Javascript:void(0);" class="btn btn-success remove-size btn-danger">Remove</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-12">
                <a asp-controller="Home" asp-action="Index" class="btn btn-success">Back to List</a>
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
        </div>
    </div>
</form>
@section Scripts
{
    <script type="text/javascript">
        $(document).on('click', '.add-size', function () {
            var size = $('div[for="sizes"]:first').clone();
            const sizesLength = document.querySelectorAll('div[for="sizes"]').length;
            setIndexToProductSize(size, sizesLength);
            size.find('.add-size').remove();
            $('#frmItem .modal-body').append(size);
        });
        $(document).on('click', '.remove-size', function () {
            $(this).closest('div[for="sizes"]').remove();
            const sizes = $('div[for="sizes"]');
            for (let index in sizes) {
                setIndexToProductSize(sizes[index], index);
            }
        });
        const setIndexToProductSize = (size, index) => {
            let sizeInputs = $(size).find("input.form-control");
            $(sizeInputs[0]).attr('name', `Product.ProductsDetails[${index}].Size`);
            $(sizeInputs[1]).attr('name', `Product.ProductsDetails[${index}].Price`);
        }
    </script>
}


