@model IEnumerable<PosBank.ViewModels.ProductDetailsViewModel>

@{
    ViewData["Title"] = "Products";
}

<div class="page-header d-md-flex justify-content-between">
    <div>
        <h3>Users</h3>
        <nav aria-label="breadcrumb" class="d-flex align-items-start">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-action="index" asp-controller="products">Products list</a>
                </li>
            </ol>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 col-xs-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="my-3">
                                <a asp-controller="Products" asp-action="DetailsProduct" asp-route-id="@item.ProductId" title="Vase">
                                    @if (item.Photo != null)
                                    {
                                        <img src="~/assets/media/Uploads/@item.Photo"
                                             class="img-fluid rounded" alt="Vase">
                                    }
                                    else
                                    {
                                        <img src="~/assets/media/image/products/product1.png"
                                             class="img-fluid rounded" alt="Vase">
                                    }

                                </a>
                            </div>
                            <div class="text-center">
                                <a href="#">
                                    <h4>@item.Product_Name - @item.Size</h4>
                                </a>
                                <p>
                                    <span class="text-truncate">@item.Price BHD</span>
                                </p>
                                <div class="mt-2">
                                    <button class="btn btn-primary add-to-card">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            </div>
    </div>
</div>